// どっちファーストの設定（"sp" or "pc"）
$startFrom: sp;

// デフォルト値を設定
$mediaquerys: (
  sm: "screen",
  no: "screen",
  md: "screen",
  lg: "screen",
  xl: "screen",
);

@if $startFrom == sp {
  //スマホファースト
  $breakpoints: (
    sm: 320,
    no: 500,
    md: 900,
    lg: 1280,
    xl: 1921,
  );

  //メディアクエリー
  $mediaquerys: (
    sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
    md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
    no: "screen and (min-width: #{map-get($breakpoints,'no')}px)",
    lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
    xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
  );
} @else {
  $breakpoints: (
    xl: 1920,
    lg: 1279,
    md: 899,
    no: 499,
    sm: 319,
  );
  $mediaquerys: (
    sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
    no: "screen and (max-width: #{map-get($breakpoints,'no')}px)",
    md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
    lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
    xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
  );
}

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

@if $startFrom == sp {
  //pcで表示
  .u-desktop {
    display: none;
    @include mq("md") {
      display: block;
    }
  }

  //モバイルのみ表示
  .u-mobile {
    @include mq("md") {
      display: none;
    }
  }
} @else {
  //pcで表示
  .u-desktop {
    display: block;
    @include mq("md") {
      display: none;
    }
  }

  //モバイルのみ表示
  .u-mobile {
    display: none;
    @include mq("md") {
      display: block;
    }
  }
}
