@use 'global' as *;

.c-breadcrumb {
  width: 100%;
  margin: auto;
  @include mq(md) {
  }
}

.c-breadcrumb__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* パンくずリストが長くなったときに折り返す */
}

.c-breadcrumb__item {
  display: inline-block;
  font-size: rem(16);
  letter-spacing: 0.03em;
  font-family: $second-font-family;
  font-weight: $bold;
  display: flex;
  text-transform: capitalize;
  white-space: nowrap;
  position: relative;
  margin-right: rem(35);
  @include mq('md') {
    font-size: rem(24);
  }
}

/* エリプシス処理｜ブログやニュース記事タイトルが表示されることを想定 */
.c-breadcrumb__item:last-of-type {
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 表示する行数を2行に設定 */
  overflow: hidden;
  color: $black;
  margin-right: 0;
}

.c-breadcrumb__item:not(last-of-type) {
  color: #8A8A8A;
}

.c-breadcrumb__item::after {
  content: '';
  display: inline-block;
  color: #8A8A8A;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rem(-21);
  mask-image: url(../../assets/images/common/breadcrumb-arrow.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: $font-color;
  width: rem(7);
  height: rem(15);
}

.c-breadcrumb__item:last-of-type::after {
  content: '';
  margin: 0;
  background-image: none;
}

.c-breadcrumb__item--ja {
  font-family: $base-font-family;
  @include mq('md') {
    font-size: rem(20);
  }
}


/////////// モディファイア /////////// 
.c-breadcrumb--white .c-breadcrumb__item:last-of-type {
  color: $accent-white;
}

.c-breadcrumb--white .c-breadcrumb__item::after {
  background-color: #8A8A8A;
}

.c-breadcrumb--white .c-breadcrumb__item:nth-last-of-type(2)::after {
  background-color: $accent-white;
}

