@use "global" as *;

.c-section-heading {
  display: inline-block;
}

.c-section-heading__ja,
.c-section-heading__eng {
    font-weight: $bold;
    color: $black;
}

.c-section-heading__ja {
    font-size: rem(16);
    position: relative;
    padding-left: rem(11);
    text-align: left;
    // letter-spacing: 0.09em;
    @include mq("md") {
        
    }
}

.c-section-heading__ja::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $accent-yellow;
    border-radius: 50%;
    width: rem(6);
    height: rem(6);
}

.c-section-heading__margin {
    margin-top: rem(3);
    @include mq('md') {
        margin-top: rem(6);
        margin-left: rem(4);
    }
}

.c-section-heading__eng {
    font-family: $second-font-family;
    font-size: rem(50);
    margin-top: rem(10);
    line-height: 1;
    @include mq("md") {
        font-size: rem(80);
    }
}

.c-section-heading__eng::first-letter {
	text-transform: capitalize;
}


/////////////// モディファイア //////////////////
.c-section-heading--company .c-section-heading__ja {
    color: $font-color;
    letter-spacing: 0.02em;
}

.c-section-heading--company .c-section-heading__eng {
    color: $font-color;
    font-size: rem(50);
    @include mq('md') {
        font-size: rem(64);
        margin-top: rem(13);
        letter-spacing: 0.045em;
    }
    
    
}

.c-section-heading--endroll .c-section-heading__eng {
    color: $font-color;
    font-size: rem(26);
    font-family: $base-font-family;
    display: flex;
    @include mq('md') {
        font-size: rem(54);
        letter-spacing: 0.02em;
        margin-top: rem(15);
    }
}

.c-section-heading--endroll .c-section-heading__ja {
    @include mq('md') {
        letter-spacing: 0.02em;
    }
}