@use 'global' as *;

.c-totop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // display: inline-block;
    width: rem(80);
    // width: 100%;
    height: rem(80);
    background-color: $black;
    border: 1px solid $accent-white;
    text-align: center;
    transition: all 0.3s;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
  @include mq('md') {
    width: rem(145);
    height: rem(145);
    padding: rem(59) 0;
  }
}

.c-totop__text {
    position: relative;
    
    font-size: rem(10);
    line-height: 1;
    font-family: $second-font-family;
    color: $accent-white;
    transition: all 0.3s;
    letter-spacing: 0.06em;
    @include mq('md') {
        font-size: rem(13);
        line-height: calc(27 / 13);
    }
}

.c-totop::before {
    content: '';
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $accent-white;
    border-radius: 50%;
    transition: all 0.3s;
    width: rem(9);
    height: rem(9);
  }

.c-totop.is-show {
    opacity: 1;
    visibility: visible;
}

.c-totop:hover {
    background-color: $accent-white;
    border: 1px solid $black;
}

.c-totop:hover .c-totop__text {
    color: $black;
}

.c-totop:hover::before {
    background-color: $black;
}