@use "global" as *;

.c-topics-btn {
  display: inline-block;
  max-width: rem(190);
  width: 100%;
  padding: rem(5) 0;
  background-color: $accent-yellow;
  text-align: center;
  transition: all 0.3s;
  border-radius: 35px;
  @include mq('md') {
    max-width: rem(350);
    padding: rem(29) 0;
  }
}

.c-topics-btn__text {
  font-size: rem(10);
  font-weight: $bold;
  font-family: $second-font-family;
  color: $font-color;
  transition: all 0.3s;
  line-height: 1;
  text-transform: uppercase;
  @include mq('md') {
    font-size: rem(16);
  }
}

.c-topics-btn:hover {
  background-color: $font-color;
}

.c-topics-btn:hover .c-topics-btn__text {
  color: $accent-white;
}
