<div class="p-footer">
  <!-- Navigation -->
  <nav class="p-footer__navigation">
    <ul class="p-footer__nav-list">
        <li class="p-footer__nav-item">
          <a href="index.html" class="p-footer__nav-link">TOP</a>
        </li>
        <li class="p-footer__nav-item">
          <a href="equipment.html">NEW EQUIPMENT</a>
        </li>
        <li class="p-footer__nav-item">
          <a href="about.html">ABOUT</a>
        </li>
        <li class="p-footer__nav-item">
          <a href="about.html">RECRUIT</a>
        </li>
        <li class="p-footer__nav-item">
          <a href="topics.html">TOPICS</a>
        </li>
        <li class="p-footer__nav-item">
          <a href="#">CONTACT</a>
        </li>
        <li class="p-footer__nav-item">
          <a href="policy.html">PRIVACY POLICY</a>
        </li>
    </ul>
  </nav>
  <div class="p-footer__content">
    <!-- Logo -->
    <header class="p-footer__content-logo">
     <%- include(ejsPath + './component/_c-logo', { link: 'index.html' }) %>
    </header>
    <!-- Contact Information -->
    <div class="p-footer__contact-info">
      <div class="p-footer__address">
          <p>有限会社グリフィス</p>
          <p>〒182-0025</p>
          <p>東京都調布市多摩川1-11-3</p>
          <p>042-485-4552</p>
          <p>g.info1994@gmail.com</p>
          <small class="p-footer__copyright">&copy; 2024 GRIFFITH. All Rights Reserved.</small>
      </div>
    </div>
  </div>
</div>