@use 'global' as *;

.p-about-recruit {
    
}

.p-about-recruit__content {
    background-color: $accent-white;
    border-radius: 16px;
    padding: rem(60) rem(40);
    margin-top: rem(50);
    @include mq('md') {
        padding: rem(105) rem(103) rem(86);
        margin-top: rem(118);
    }
}

.p-about-recruit__checkbox {
    counter-reset: total;   
    counter-reset: checked;
    position: relative;
    @include mq('md') {
        
    }
}

.p-about-recruit__checkbox label {
    counter-increment: total; /* "checkbox"クラスの数をカウント */
    display: flex;
    gap: rem(16);
    align-items: baseline;
    @include mq(md){
        
    }
}

.p-about-recruit__checkbox label:not(:first-of-type) {
    margin-top: rem(10);
    @include mq(md){
        margin-top: 0;
    }   
}

.p-about-recruit__checkbox input {
	// display: none;
    content: "";
    position: relative;
    background: $accent-white;
    border: 1px solid #3B3B3B;
    display: block;
    width: rem(12);
    height: rem(12);
    flex-shrink: 0;
}

.p-about-recruit__checkbox input::after {
    content: "";
    margin-top: rem(-2);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
    display: block;
    width: rem(15);
    height: rem(8);
    border-bottom: rem(3) solid #000;
    border-left: rem(3) solid #000;
    transition:  .3s;
    opacity: 0;
}

.p-about-recruit__checkbox input + span {
    cursor: pointer;
    display: inline-block;
    // padding: 0 0 0 rem(30);
    position: relative;
    line-height: 1;
    padding-top: rem(8);
    padding-bottom: rem(9);
}

// .p-about-recruit__checkbox input + span::before {
    
// }



.p-about-recruit__checkbox input:checked::after {
    opacity: 1;
    counter-increment: checked; /* チェックされているcheckboxの数をカウント */
}

.p-about-recruit__result {
    position: absolute;
    content: "";
    bottom: 0;
    right: rem(5);
}

.p-about-recruit__checked-count {
    font-size: rem(32);
    font-weight: $bold;
    color: $black;
}

.p-about-recruit__total-count {
    font-size: rem(16);
    font-weight: $bold;
    color: $black;
}

.p-about-recruit__heading,
.p-about-recruit__checkbox input + span,
.p-about-recruit__text {
    @include mq('md') {
        font-size: rem(20);
        color: $black;
    }
}

.p-about-recruit__heading,
.p-about-recruit__text {
    line-height: 1.7;
}

.p-about-recruit__heading {
    letter-spacing: 0.01em;
    @include mq('md') {
        padding-left: rem(10);
    }
}

.p-about-recruit__text {
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: rem(30);
    @include mq('md') {
        margin-top: rem(63);
    }
}