@use 'global' as *;

.p-container {
    @include mq('md') {
        display: grid;
        row-gap: rem(40);
        column-gap: rem(20);
    }
}

.p-container__item {
    width: 100%;
    overflow: hidden;
}

.p-container--1 {
    
}

.p-container--2 {
    grid-template-columns: repeat(2, 1fr);
}

.p-container--3 {
    grid-template-columns: repeat(3, 1fr);
}

.p-container--4 {
    grid-template-columns: repeat(4, 1fr);
}

.p-container__item img {
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-container--1 .p-container__item {
    @include mq('md') {
        aspect-ratio: 579 / 956;
        max-height: rem(956);
    }
}

.p-container--1 .p-container__item img {
    
}

.p-container--2 .p-container__item {
    @include mq('md') {
        aspect-ratio: 623 / 470;
        max-height: rem(470);
    }
}

.p-container--2 .p-container__item img {

}

.p-container--3 .p-container__item {
    @include mq('md') {
        aspect-ratio: 409 / 308;
        max-height: rem(308);
    }
}

.p-container--3 .p-container__item img {

}

.p-container--4 .p-container__item {
    @include mq('md') {
        aspect-ratio: 302 / 228;
        max-height: rem(228);
    }
}

.p-container--4 .p-container__item img {

}

.p-container__text {
    color: $accent-white;
    @include mq('md') {
        font-size: rem(16);
        margin-top: rem(13);
    }
}
