@use 'global' as *;

.p-footer {
  background-color: $black;
  position: relative;
}

.p-footer__inner {
  margin: 0 auto;
  padding: rem(20) rem(20) rem(115) rem(20);
  @include mq('md') {
    max-width: rem(1920);
    padding-right: rem(59);
  }
}

.p-footer__wrapper {
  @include mq('md') {
    display: flex;
    flex-direction: row;
    padding-top: rem(119);
    justify-content: space-between;
  }
}

.p-footer__navigation {
  
  @include mq('md') {
    
  }
}

.p-footer__nav-list {
  margin-top: rem(30);
  @include mq('md') {
    margin-top: 0;
  }
}

.p-footer__nav-item {
  text-align: center;
  @include mq('md') {
    text-align: left;
  }
}

.p-footer__nav-item + .p-footer__nav-item {
  margin-top: rem(30);
  @include mq('md') {
    margin-top: rem(26);
  }
}

.p-footer__nav-item a {
  color: $accent-white;
  font-family: $second-font-family;
  font-weight: $bold;
  font-size: rem(40);
  line-height: 1;
  display: inline-flex;
  text-transform: uppercase;
  transition: all 0.3s;
  // padding: rem(13) 0 rem(13) rem(59);
  color: transparent; /* テキスト本体は透明にする */
  /*
   影の設定
   1つ目：Y方向の位置にマイナスに設定してテキスト本体の上に配置、ぼかしなし
   2つ目：位置はテキスト本体と同じ、ぼかしなし
  */
  text-shadow: 0 -3.0em 0 #fff, 0 0 0 #fff;
  transition: text-shadow 0.3s;
  position: relative;
  overflow: hidden; /* 1つ目の影を隠す */
  @include mq('md') {
    font-size: rem(68);
    letter-spacing: -0.01em;
    padding-left: rem(39);
    line-height: 1.5;
    // padding: rem(13) 0  rem(13) rem(59);
  }
}

.p-footer__nav-item a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  text-shadow: 0 -3.0em 0 #fff, 0 0 0 #fff;
  transition: text-shadow 0.3s;
  overflow: hidden; /* 1つ目の影を隠す */
  width: 100%;
  height: 100%;
}

.p-footer__nav-item a:hover {
  text-shadow: 0 0 0 #fff, 0 3.0em 0 #fff; /* 2つの影の位置を上方向に1.5emずつずらす */
}

.p-footer__nav-item:nth-child(6) {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(82);
  }
}

.p-footer__nav-item:nth-child(6) a {
  position: relative;
  font-size: rem(60);
  padding-right: rem(40);
  @include mq('md') {
    font-size: rem(140);
    letter-spacing: -0.05em;
    padding-right: rem(110);
  }
}

.p-footer__nav-item:nth-child(6) a::after {
  position: absolute;
  content: "";
  right: rem(15);
  bottom: 50%;
  transform: translateY(50%);
  background-image: url(../images/common/contact-arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: rem(18);
  height: rem(18);
  transition: all .3s;
  @include mq('md') {
    right: rem(39);
    bottom: rem(88);
    width: rem(28);
    height: rem(28);
  }
}

.p-footer__nav-item:nth-child(6) a:hover::after {
  right: 0;
  bottom: 60%;
  @include mq('md') {
    bottom: rem(120);
    
  }
}

.p-footer__nav-item--policy a {
  content: "";
  position: absolute;
  text-align: center;
  font-weight: $bold;
  font-family: $second-font-family;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 0;
  bottom: rem(32);
  font-size: rem(10);
  @include mq('md') {
    bottom: rem(32);
    font-size: rem(17);
    letter-spacing: 0.1em;
  }
}

.p-footer__contents {
  margin: rem(80) auto 0;
  gap: rem(60);
  @include mq('md') {
    margin: rem(-5) 0 0 0;
  }
}

.p-footer__contents-logo {
  max-width: rem(170);
  margin: 0 auto;
  @include mq('md') {
    max-width: rem(250);
    // margin: 0;
  }
}

.p-footer__contents-info {
  @include mq('md') {
    margin-top: rem(325);
  }
}

.p-footer__content {
  margin-top: rem(30);
  text-align: center;
  @include mq('md') {
    margin-top: 0;
    text-align: left;
  }
}

.p-footer__content h3 {
  color: $accent-white;
  padding-left: rem(4);
  font-weight: $bold;
  font-size: rem(18);
  letter-spacing: 0.08em;
}

.p-footer__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(18);
  @include mq('md') {
    justify-content: left;
  }
}

.p-footer__address {
  color: $accent-white;
  font-weight: $bold;
  font-size: rem(16);
  margin-top: rem(3);
  letter-spacing: 0.1em;
}

.p-footer__map {
  font-size: rem(12);
  color: $black;
  font-weight: $bold;
  font-family: $second-font-family;
  line-height: 2.1;
  background-color: $accent-white;
  padding: 0 rem(20);
  border-radius: 20px;
}

.p-footer__name {
  color: $accent-white;
  font-weight: $bold;
  font-size: rem(18);
  margin-top: rem(51);
  letter-spacing: 0.07em;
}


.p-footer__post {
  color: $accent-white;
  font-size: rem(18);
  margin-top: rem(51);
  letter-spacing: 0.07em;
}

.p-footer__phone {
  color: $accent-white;
  font-family: $second-font-family;
  font-size: rem(18);
  letter-spacing: 0.17em;
  margin-top: rem(4);
}

.p-footer__mail {
  color: $accent-white;
  font-family: $second-font-family;
  font-size: rem(18);
  letter-spacing: 0.03em;
}

.p-footer__copyright {
  display: block;
  color: $accent-white;
  font-family: $second-font-family;
  font-size: rem(13);
  letter-spacing: 0.03em;
  margin-top: rem(30);
  @include mq('md') {
    margin-top: rem(54);
  }
}

