@use 'global' as *;

.p-hamburger {
  position: relative;
  top: rem(28);
  right: rem(15);
  width: rem(32);
  height: rem(24);
  z-index: 100;
  cursor: pointer;
  transition: opacity 0.3s;
}

.p-hamburger span {
  position: absolute;
  width: inherit;
  height: 1px;
  background-color: $accent-white;
  transition: all 0.3s;
}

.p-hamburger span:nth-child(1) {
  top: 0;
}

.p-hamburger span:nth-child(2) {
  top: rem(12);
  opacity: 1;
}

.p-hamburger span:nth-child(3) {
  top: rem(24);
}
.p-hamburger.is-active span:nth-child(1) {
  top: 60%;
  transform: rotate(45deg);
}

.p-hamburger.is-active span:nth-child(2) {
  top: 51%;
  opacity: 0;
}

.p-hamburger.is-active span:nth-child(3) {
  top: 60%;
  transform: rotate(-45deg);
}
