@use 'global' as *;

.p-header {
  height: rem(85);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  @include mq('md') {
    // background-color: transparent;
    height: rem(129);
  }
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
  margin: auto;
  padding-left: rem(12);
  padding-right: rem(10);
  @include mq(md) {
    padding-left: rem(50);
    padding-right: rem(50);
    position: relative;
  }
}


.p-header__logo {
  display: grid;
  place-items: center;
  width: rem(63);
  z-index: 1;
  @include mq(md) {
    width: rem(88);
  }
}

.p-header__logoLink {
  display: block;
}

.p-header__logoLink img {
  width: 100%;
  max-width: 100%;
}

.p-header__drawer {
  @include mq(md) {
    display: none;
  }
}

.p-header__pc-nav {
  height: inherit;
  display: none;
  @include mq(md) {
    display: block;
  }
}

.p-header__sp-nav-logo {
  width: rem(63);
}

/* ドロワーメニューオープン時、body要素をスクロールさせない */
body.is-scroll {
  overflow: hidden;
}
