@use 'global' as *;

/* ローディングアニメーション */
.p-loading-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;  /* 初期状態は赤背景 */
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: all 1s;
    z-index: 9999;
    opacity: 0;  /* 背景をフェードアウト */
    visibility: hidden;  /* 完全に非表示にする */

    // opacity: 1;
    // visibility: visible;
}

/* ローディングアニメーション中 */
.p-loading-animation.is-active {
    transition: all -1s;
    opacity: 1;
    visibility: visible;
    
}

  
  /*SVGのサイズ*/
  svg{
    max-width: 600px;/*SVGタグの横幅*/
    width: 100%;/* レスポンシブ対応にするため100%を指定*/
    height: auto;
  }


  /* マスクをするパスの設定*/
  #mask .cls-1{
    fill:none;
    stroke:$accent-white;
    stroke-width: 5.5;/*線の太さを指定する*/
    stroke-miterlimit: 10;
  }

  #mask .cls-1 d {
    
  }




  /* 背景色のフェードインアニメーション */
  @keyframes fadeInBackground {
    0% {
      fill: transparent;
    }
    100% {
      fill: $accent-white; /* お好みの背景色 */
    }
  }

  .svg-container svg #mask .cls-1 {
    animation: fadeInBackground 2s ease forwards;
  }