@use 'global' as *;

.p-pc-nav {
  @include mq(md) {
    transition: all .5s;
    display: inline-flex;
    justify-content: right;
    width: rem(650);
  }
}

.p-pc-nav.hide{
  transform: translateY(-300%);
}

.p-pc-nav__item {
  display: flex;
  align-items: center;
  line-height: 1;
}

.p-pc-nav__item,
.p-pc-nav__item a {
  @include mq(md) {
    
  }
}

.p-pc-nav__item a {
  @include mq(md) {
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    padding: rem(13) rem(17);
    line-height: 1;
  }
}

.p-pc-nav__title {
  font-size: rem(16);
  font-weight: $bold;
  color: #333333;
  line-height: 1;
  padding: 0 rem(4) rem(9) rem(4);
  // padding-bottom: rem(9);
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
  letter-spacing: 0.02em;
}

.p-pc-nav__item:hover .p-pc-nav__title,
.p-pc-nav__title.current {
  background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 1px; /* 下線の横幅を100%にする */
}

.p-pc-nav--yellow li a .p-pc-nav__title {
  color: $accent-white;
  background-image: linear-gradient($accent-white, $accent-white);
}