@use 'global' as *;

.p-pc-nav {
  @include mq(md) {
  }
}

.p-pc-nav__items {
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
  }
}

.p-pc-nav__item {
  display: grid;
  place-items: center;
}

.p-pc-nav__item,
.p-pc-nav__item a {
  @include mq(md) {
    height: inherit;
  }
}

.p-pc-nav__item a {
  @include mq(md) {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: rem(26) rem(20);
  }
}

.p-pc-nav__title {
  font-size: rem(10);
  font-weight: $regular;
  color: $accent-white;
  line-height: 1;
  margin-top: rem(6);
}
