@use 'global' as *;

.p-sub-crane {
    @include mq('md') {
        // padding-left: rem(60);
        // padding-right: rem(109);
    }
}

.p-sub-crane__inner.l-inner {
    @include mq('md') {
        margin: initial;
        padding-left: rem(60);
        padding-right: rem(109);
        max-width: 1920px + strip-unit($padding-pc) * 2;
    }
    @include mq('xl') {
        margin: 0 auto;

    }
}

.p-sub-crane__inner {
    @include mq('md') {
        display: flex;
        gap: rem(184);
    }
}

.p-sub-crane__sidebar {
    width: 100%;
    @include mq('md') {
        max-width: rem(297);
    }
}

.p-sub-crane__content {
    margin-top: rem(80);
    width: 100%;
    @include mq('md') {
        max-width: rem(1270);
        margin-top: rem(8);
    }
}