@use 'global' as *;

.p-sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: scroll;
  height: 100dvh;
  background-color: $accent-white;
}

.p-sp-nav.is-active {
  display: block;
}

.p-sp-nav__head {
  height: rem(85);
  background-color: $font-color;
}

.p-sp-nav__items {
  padding: 0 rem(10);
}

.p-sp-nav__item {
  
}

.p-sp-nav__item a {
  display: inline-block;
  width: 100%;
  padding: rem(35) 0;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
}

.p-sp-nav__item a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: rem(20);
  height: rem(20);
  background-image: url(../../assets/images/common/black-btn.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 10;
}

.p-sp-nav__title {
  font-size: rem(14);
  font-weight: $bold;
  color: $font-color;
}
