@use 'global' as *;

.p-sidebar-nav {
    border-top: 1px solid #D1D0D0;
    border-bottom: 1px solid #D1D0D0;
    padding: rem(12) 0;
}

.cat-item {
    position: relative;
    font-size: rem(18);
    line-height: calc(42 / 18);
    font-weight: $bold;
    color: $accent-black;
    display: inline-block;
    width: 100%;
}


.cat-item  a {
    color: #262626;
}

.current-cat-parent {
    
}


//大項目
.p-sidebar-nav > .cat-item > a {
    // font-size: rem(18);
    // line-height: calc(26 / 18);
    // font-weight: $bold;
    // color: $accent-black;
    padding-left: rem(12);
    display: inline-block;
    width: 100%;
}

// .side_equipment_cat > .cat-item > a {
//     position: relative;
// }


//背景色グレー
.p-sidebar-nav > .current-cat-parent > a {
    background-color: #D1D0D0;
    color: #323031;
    border-radius: 5px;
}


.children > .cat-item {
    font-size: rem(16);
    line-height: calc(33 / 16);
    font-weight: $medium;
}

//中項目
.children > .cat-item > a {
    
    padding-left: rem(35);
    // display: inline-block;
    // width: 100%;
}


//項目 数字
.cat-item > span {
    position: absolute;
    top: 0.5lh;
    transform: translateY(-50%);
    right: rem(12);
    font-weight: $medium;
    font-family: $second-font-family;
    color: $black;
}

//大項目 数字
.p-sidebar-nav > .cat-item > span {
    // padding: rem(8) 0;
    font-size: rem(18);
}

//中項目　数字
.children > .cat-item > span {
    // padding: rem(5) 0;
    font-size: rem(16);
}

//黄色背景
.current-cat {
    background-color: $accent-yellow;
    border-radius: 5px;
}

.current-cat > a {
    color: #323031;
}


// モディファイア
.p-sidebar-nav--white {
    border-top: 1px solid $accent-white;
    border-bottom: 1px solid $accent-white;
}

//全体の文字を白に
.p-sidebar-nav--white .cat-item  a {
    color: $accent-white;
}

//白背景
.p-sidebar-nav--white > .current-cat-parent > a {
    background-color: $accent-white;
    color: #323031;
}

//黄色背景
.p-sidebar-nav--white li .children > .current-cat > a {
    color: #323031;
}

.p-sidebar-nav--white li .children > .cat-item {
    // color: $accent-white;
}

//項目 数字
.p-sidebar-nav--white .cat-item > span {
    color: $accent-white;
}

//背景白　数字
.p-sidebar-nav--white .current-cat-parent > span {
    color: $black;
}

//背景黄色　数字
.p-sidebar-nav--white .cat-item > .children > .current-cat > span {
    color: $black;
}

