@use 'global' as *;

.p-sub-crane {
    @include mq('md') {
        // padding-left: rem(60);
        // padding-right: rem(109);
    }
}

.p-sub-crane__inner.l-inner {
    @include mq('md') {
        // padding-left: rem(60);
        // padding-right: rem(109);
        max-width: 1751px + strip-unit($padding-pc) * 2;
        // padding-left: rem(60);
        // padding-right: rem(109);
    }
}

.p-sub-crane__inner {
    @include mq('md') {
        display: flex;
        gap: rem(144);
    }
}

.p-sub-crane__sidebar {
    width: 100%;
    @include mq('md') {
        max-width: rem(297);
    }
}

.p-sub-crane__content {
    margin-top: rem(80);
    width: 100%;
    @include mq('md') {
        max-width: rem(1270);
        margin-top: 0;
    }
}