@use 'global' as *;

.p-sub-topics {

}

.p-sub-topics__inner {

}

.p-sub-topics__heading {
    font-family: $second-font-family;
    font-weight: $bold;
    font-size: rem(38);
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1;
}

.p-sub-topics__tab {
    margin-top: rem(136);
    display: flex;
    justify-content: center;
}

.p-sub-topics__text {
    padding: 0 rem(50);
    border-left: 1px solid #8A8A8A;
    text-transform: uppercase;
    font-weight: $bold;
    font-family: $second-font-family;
    color: #8A8A8A;
    letter-spacing: 0.05em;
    line-height: 1;
}

.p-sub-topics__text.is-active {
    color: #262626;
}

.p-sub-topics__text:first-child {
    padding-left: 0;
    border-left: 0;
}

.p-sub-topics__text:last-child {
    padding-right: 0;
}

.p-sub-topics__text {
    
}

.p-sub-topics__cards {
    @include mq('md') {
        margin-top: rem(56);
    }
}

.p-sub-topics__card {
    display: grid;
    @include mq('md') {
        grid-template-columns: repeat(3, 1fr);
        row-gap: rem(36);
        column-gap: rem(20);
    }
}

.p-sub-topics__pagenation {
    @include mq('md') {
        margin-top: rem(80);
    }
}