@use 'global' as *;

.p-sidebar-nav {

}

.side_equipment_cat {

}

.cat-item {
    position: relative; 
}

.current-cat-parent {
    
}

//大項目
.side_equipment_cat > .cat-item > a {
    font-size: rem(18);
    line-height: calc(26 / 18);
    font-weight: $bold;
    color: $accent-black;
    padding: rem(6) 0 rem(6) rem(12);
    display: inline-block;
    width: 100%;
}

// .side_equipment_cat > .cat-item > a {
//     position: relative;
// }

//大項目 数字
.side_equipment_cat > .cat-item > span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

//背景色グレー
.side_equipment_cat > .current-cat-parent > a {
    background-color: #D1D0D0;
}


.children {

}

//中項目
.children > .cat-item > a {
    font-size: rem(16);
    line-height: calc(23 / 16);
    font-weight: $medium;
    color: #323031;
    padding: rem(5) rem(149) rem(5) rem(35);
    display: inline-block;
    width: 100%;
}

//中項目　数字
.children > .cat-item > span {
    position: absolute;
    top: 50%;
    right: rem(12);
    transform: translateY(-50%);
}

.current-cat {
    background-color: $accent-yellow;
}