@use 'global' as *;

.p-top-recruit {
    
}

.p-top-recruit__inner {
  position: relative;
}

.p-top-recruit__inner.l-inner {
    @include mq('md') {
        max-width: rem(1102);
        margin-left: auto;
    }
}

.p-top-recruit__content {
    /* align-items: center; */
    // display: flex;
    // flex-direction: column-reverse;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    @include mq('md') {
      border-radius: 10px;
    }
}

.p-top-recruit__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/common/top-recruit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all .7s;
  border-radius: inherit;
  @include mq('md') {
      // background: rgba(255, 255, 255, 0.8);
  }
}

  .p-top-recruit__left {
    width: 100%;
    // clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    // background: rgba(255, 255, 255, 0.8); /* 半透明の背景 */
    // border-radius: 10px 0 0 10px;
    // backdrop-filter: blur(9.67px); /* 全体にぼかし効果 */
    // clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%); /* 斜めの形状にクリップ */
    padding: rem(47) 0 rem(89);
    // z-index: 2;
    @include mq('md') {
        padding: rem(110) 0 rem(196) rem(84);
        // backdrop-filter: blur(20px);
        // clip-path: polygon(0 0%, 100% 0, 88% 100%, 0% 100%);
        // width: 43.8%;
    }
  }

  .p-top-recruit__content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    background: rgba(255, 255, 255, 0.8); /* 半透明の背景 */
    border-radius: 10px 0 0 10px;
    @include mq('md') {
      clip-path: polygon(0 0%, 100% 0, 88% 100%, 0% 100%);
      width: 43.8%;
    }
  }

  .p-top-recruit__left p,
  .p-top-recruit__left h2 {
      color: $black;
      font-weight: $bold;
      text-align: center;
      @include mq('md') {
        text-align: left;
      }
  }

  .p-top-recruit__left p{
    font-size: rem(12);
    letter-spacing: 0.06em;
    @include mq('md') {
      font-size: rem(20);
      
    }
  }

  .p-top-recruit__left h2 {
    font-size: rem(35);
    letter-spacing: 0.05em;
    font-family: $second-font-family;
    @include mq('md') {
      font-size: rem(60);
      
    }
  }

  .p-top-recruit__btn {
      // margin-top: rem(27);
      // margin-left: rem(3);
      position: absolute;
      content: "";
      bottom: 16%;
      left: 50%;
      transform: translateX(-50%);
      width: rem(130);
      z-index: 2;
      @include mq('md') {
        bottom: 26%;
        transform: translateX(0);
        left: rem(112);
        width: rem(184);
      }
  }

  .p-top-recruit__img {
    width: 100%;
    @include mq('md') {
        width: 61.5%;
        // clip-path: polygon(8.5% 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  .p-top-recruit__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    transition: all .7s;
  }

  // .p-top-recruit__content::before:has(.p-top-recruit__btn:hover) {
  //   transform: scale(1.2);
  //   transition: all .7s;
  // }

  .p-top-recruit__btn:hover ~ .p-top-recruit__content::before {
    transform: scale(1.2);
    transition: all .7s;
  }