@use 'global' as *;

.p-top-recruit {
    
}

.p-top-recruit__inner.l-inner {
    @include mq('md') {
        max-width: rem(1102);
        margin-left: auto;
    }
}

.p-top-recruit__heading {
    // display: inline-block;
    text-align: center;
    @include mq('md') {
        // display: none;
        display: none;
  }
}

.p-top-recruit__content {
    /* align-items: center; */
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    @include mq('md') {
        justify-content: space-between;
        flex-direction: row;
        background: rgba(255, 255, 255, 0.8);
        text-align: left;
    }
  }

  .p-top-recruit__left {
    @include mq('md') {
        padding: rem(110) 0 rem(87) rem(84);
    }
    // background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  }

  .p-top-recruit__left p,
  .p-top-recruit__left h2 {
      display: none;
      color: $black;
      font-weight: $bold;
      @include mq('md') {
          display: block;
      }
  }

  .p-top-recruit__left p{
    font-size: rem(20);
    letter-spacing: 0.06em;
  }

  .p-top-recruit__left h2 {
    font-size: rem(60);
    letter-spacing: 0.05em;
    font-family: $second-font-family;
  }

  .p-top-recruit__btn {
    margin-top: rem(40);
    
  }

  .p-top-recruit__img {
    width: 100%;
    display: none;
      @include mq('md') {
          width: 61.5%;
          clip-path: polygon(8.5% 0, 100% 0, 100% 100%, 0% 100%);
          display: block;
       }
  }

  .p-top-recruit__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .7s;
  }

  .p-top-recruit__left:hover.p-top-recruit__img img {
    transform: scale(1.2);
    transition: all .7s;
  }