@use 'global' as *;

.p-top-mv {
    background-color: $accent-yellow;
    width: 100%;
    height: rem(670);
    padding-top: rem(10);
    @include mq('md') {
        height: rem(1080);
    }
    // height: 100vh;
}

.p-top-mv__inner.l-inner {
    padding: 0 rem(10);
    height: inherit;
    position: relative;
    overflow: hidden;
    @include mq('md') {
        padding: 0 rem(10);
        max-width: rem(1920);
    }
}



.p-top-mv__content {
    position: relative;
    @include mq('md') {
        overflow: hidden;
    }
}

// .p-top-mv__left {

//     @include mq('md') {
//         max-width: calc(1005 / 1900 * 100%);
//     }
// }

.p-top-mv__left-img {
    position: absolute;
    content: "";
    top: rem(10);
    aspect-ratio: 260 / 346;
    max-width: rem(260);
    width: 100%;
    overflow: hidden;
    @include mq('md') {
        aspect-ratio: 1005 / 652;
        width: 65%;
        max-width: rem(1005);
        position: relative;
    }
}

.p-top-mv__left-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq('md') {
        height: initial;
    }
}

.p-top-mv__pctitle {
    position: absolute;
    display: inline-block;
    
    // content: "";
    padding: 0;
    margin: 0;
    top: 0;
    color: $accent-white;
    right: 0;
    // width: 100%;
    transform-origin: top right;
    transform: rotate(90deg) translateX(100%);
    // font-size: clamp(120px,30.77vw,489px);
    font-size: rem(120);
    z-index: 1;
    line-height: 1;
    font-weight: $bold;
    color: #FFFCEC;
    @include mq('md') {
        transform: rotate(0) translateX(0%);
        font-size: rem(489);
        line-height: 1;
        font-weight: $bold;
        letter-spacing: 0.02em;
        font-family: $third-font-family;
        color: #FFFCEC;
        z-index: 0;
        display: flex;
        gap: rem(40);
        margin-top: rem(100);
        animation: scrollSample01 50s linear infinite;
    }
}

.p-top-mv__pctitle span {
    @include mq('md') {
        font-size: rem(489);;
        color: $accent-white;
        font-weight: $bold;
        white-space : nowrap;
    }
}

.p-top-mv__pctitle span:not(:first-child)  {
    display: none;
    @include mq('md') {
        display: block;
    }
}

.p-top-mv__detail {
    position: absolute;
    content: "";
    bottom: rem(100);
    left: rem(20);
    margin-top: rem(140);
}

.p-top-mv__maintext {
    font-weight: $bold;
    font-family: $third-font-family;
    color: $accent-white;
    line-height: 1.1;
    letter-spacing: 0.02em;
    @include mq('md') {
        font-size: rem(60);
        line-height: 1;
    }
}

.p-top-mv__subtext {
    font-weight: $bold;
    color: $accent-white;
    font-size: rem(15);
    margin-top: rem(15);
    letter-spacing: -0.02em;
    line-height: 1.2;
    @include mq('md') {
        font-size: rem(24);
        line-height: 1;
        margin-top: rem(40);
    }
}

.p-top-mv__right {
    
    
    @include mq('md') {
        
    }
}

.p-top-mv__right-img {
    position: absolute;
    content: "";
    bottom: rem(84);
    right: rem(10);
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    aspect-ratio: 288 / 182;
    max-width: rem(288);
    @include mq('md') {
        aspect-ratio: 738 / 467;
        max-width: rem(738);
        
    }
}

.p-top-mv__right-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.u-mobile {

}



.p-top-mv__blog {
    position: absolute;
    content: "";
    bottom: rem(10);
    right: 0;
    @include mq('md') {
        
    }
}

.p-top-mv__news {

}

.p-top-mv__date {

}

.p-top-mv__text {

}

// ロゴタイトルが自動で流れる
@keyframes scrollSample01{
    0% { transform: translateX(100%)}
    100% { transform: translateX(-1%)}
}


/* 0.5秒間かけてフェードイン */
.fadeInleft {
    animation-name: fadeInleft;
    animation-delay: 0.5s;
    animation-duration: 2.0s;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
    opacity: 0;
}
@keyframes fadeInleft {
    0% {
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* 1秒間かけてフェードイン */
.fadeInbottom {
    animation-name: fadeInbottom;
    animation-delay: 1s;
    animation-duration: 2.0s;
    animation-fill-mode: forwards;
    transform: translateY(50px);
    opacity: 0;
}
@keyframes fadeInbottom {
    0% {
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


// 横から1文字アニメーション
.text1,
.text2 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: $bold;
    font-family: $third-font-family;
    color: $accent-white;
    line-height: 1.1;
    
  }
  
  .text1.is-text,
  .text2.is-text {
    --x: 0;
  }
  
  .char {
      overflow: hidden;
  }
  
  .char-text {
    display: inline-block;
    transform: translateX(var(--x, -101%));
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: calc(0.05s * var(--char-index));
    font-size: rem(20);
    @include mq('md') {
        font-size: rem(60);
    }
  }