@use 'global' as *;

.p-top-about {

}

.p-top-about__inner {

}

.l-inner {

}

.p-top-about__heading {

}

.p-top-about__text {
    @include mq('md') {
        font-size: rem(17);
        line-height: calc(36 / 17);
        letter-spacing: 0.02em;
        color: $font-color;
    }
}

.p-top-about__items {
    margin-top: rem(60);
    @include mq('md') {
        margin-top: rem(80);
    }
}

.p-top-about__item {
    position: relative;
    height: rem(616);
}

.p-top-about__item-inner {
    position: absolute;
    max-width: rem(500);
    // padding: 0 rem(20);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: inherit;
    margin: 0 auto;
    @include mq('md') {
        max-width: rem(1266);
        
    }
}

.p-top-about__item + .p-top-about__item {
    margin-top: rem(60);
    @include mq('md') {
        margin-top: rem(80);
    }
}



