@use 'global' as *;

.wp-pagenavi {
	clear: both;
    display: flex;
    justify-content: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
    width: rem(45);
    height: rem(45);
    overflow: hidden;
    // padding: rem(19) rem(22) rem(18) rem(23);
    line-height: calc(19 / 16);
    font-family: $second-font-family;
    font-weight: $bold;
    font-size: rem(16);
    white-space: nowrap;
    color: #212121;
    background-color: $accent-white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s;
    @include mq('md') {
        width: rem(56);
        height: rem(56);
    }
}

.wp-pagenavi a {
    margin-left: rem(10);
}

.wp-pagenavi a:first-child {
    margin-left: 0;
}

.wp-pagenavi a:nth-of-type(3),
.wp-pagenavi a:nth-of-type(4) {
    display: none;
    @include mq('md') {
        display: inline-flex;
    }
}

.wp-pagenavi a:last-child {

}


.wp-pagenavi a:hover {
    color: $accent-white;
    background-color: #212121;
    opacity: 1;
}

.wp-pagenavi .current {
	color: $accent-white;
    background-color: #212121;
}
