<div class="p-about-access">
    <div class="p-about-access__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12968.439219838921!2d139.5273814!3d35.6496662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f017850a92a7%3A0xd83fd994dbc4846f!2z44Kw44Oq44OV44Kj44K5!5e0!3m2!1sja!2sjp!4v1727652071778!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="p-about-access__text">
        <p class="p-about-access__post">〒182-0025</p>
        <p class="p-about-access__address">東京都調布市多摩川1-11-3
        </p>
        <a href="https://www.google.com/maps/place/%E3%82%B0%E3%83%AA%E3%83%95%E3%82%A3%E3%82%B9/@35.6496662,139.5273814,15z/data=!4m6!3m5!1s0x6018f017850a92a7:0xd83fd994dbc4846f!8m2!3d35.6496662!4d139.5273814!16s%2Fg%2F1thw_gq7?entry=tts&g_ep=EgoyMDI0MDgyOC4wKgBIAVAD" target="_blank" rel="noopener noreferrer" class="p-about-access__google">Google Map</a>
    </div>
</div>
