


<div class="p-company-description">
        
        <div class="p-company-description__content">
            <div class="p-company-description__heading">
                <%- include(ejsPath + './component/_c-section-heading', { page: "", heading_eng:'「エンドロールに名を刻め」', heading_ja:'仕事内容について' }) %>
            </div>
           
        </div>
        <!-- <div class="p-company-description__img">
            <img src="./assets/images/common/top-recruit.jpg" alt="">
        </div> -->
</div>
