<div class="p-about-recruit">
    <p class="p-about-recruit__heading">
        グリフィスでは映画、テレビ、ＣＭ等の現場スタッフを募集しております。<br>
映像創りに興味のある方、体を動かすのが好きな方、映画好きの方、テレビ好きの方、もちろん未経験の方も一緒に撮影現場で元気に働きましょう。まずは下記のチェックシートをお試しください。
    </p>
    <div class="p-about-recruit__content">
        <div class="p-about-recruit__checkbox">
            <label><input type="checkbox"><span>自分の部屋で１人でいるのは嫌いだ</span></label>
            <label><input type="checkbox"><span>暇をつぶすのは得意だ</span></label>
            <label><input type="checkbox"><span>劇場又はビデオで月に三本以上映画を観ている</span></label>
            <label><input type="checkbox"><span>旅行に行くのが好き</span></label>
            <label><input type="checkbox"><span>ごはんを食べるのが早いとよく言われる
        </span></label>
            <label><input type="checkbox"><span>酒の席に誘われると断れない</span></label>
            <label><input type="checkbox"><span>映画を観て泣いたことがある</span></label>
            <label><input type="checkbox"><span>お寿司と焼肉では、焼肉のほうが好き
        </span></label>
            <label><input type="checkbox"><span>スポーツは観るよりやるほうが好き</span></label>
            <label><input type="checkbox"><span>電車より車が好き</span></label>
            <div class="p-about-recruit__result">
                <span class="p-about-recruit__checked-count"></span>/<span class="p-about-recruit__total-count"></span>
            </div>
        </div>
        <p class="p-about-recruit__text">３つ以上チェックがある方はすぐに履歴書を用意してお電話ください。
        <br>お待ちしています。</p>
    </div>
</div>
