


<div class="p-about-description">
        
    <div class="p-about-description__content">
        <div class="p-about-description__text">
            映画やテレビの制作は演出部、制作部、撮影部、照明部、美術部等々のパートがあります。
            私たちの会社は特機部という部門を担当しています。
            <br>
            <br>あまり聞きなれない特機とは何か？
            脚本をもとに監督が演出プランを練り、演出プランをもとに撮影監督（カメラマン）が映像のイメージを創ります。このイメージを特殊機械を使って実現させるのが特機部の仕事です。
            <br>
            <br>大型クレーン、小型クレーン、ドリーなどを俳優の動きに合わせて操作します。 また、映画やテレビには必ずと言っていい程、雨、雪、風、霧の場面があります。この雨、雪、風、霧も私たちが創っています。
            <br>
            <br>あなたの降らした雨が映画館で人々に感動を与えることになるでしょう。
            そして、エンディングロールにあなたの名前が刻まれます。
            <br>
        </div>
    </div>
    <div class="p-about-description__work">
        <div class="p-about-description__title">グリフェイスの主な作品歴
        </div>
        <dl class="p-about-description__list">
            <dt class="p-about-description__term">【映画】</dt>
            <dt class="p-about-description__description">キングダム、東京リベンジャ－ズ、ネバーランド、シンウルトラマン、ある男
            <br>その他多数
            </dt>
        </dl>
        <dl class="p-about-description__list">
            <dt class="p-about-description__term">【TVドラマ】</dt>
            <dt class="p-about-description__description">クロサギ、サイレント、エルピス、どうする家康、アトムの童
            <br>その他多数</dt>
        </dl>
        <dl class="p-about-description__list">
            <dt class="p-about-description__term">【配信ドラマ】</dt>
            <dt class="p-about-description__description">ファーストラブ、ガンニバル、全裸監督、TokyoVise
            <br>その他多数
            </dt>
        </dl>
        <dl class="p-about-description__list">
            <dt class="p-about-description__term">【MV】</dt>
            <dt class="p-about-description__description">髭男dism、SEKAI NO OWARI、ももいろクローバーZ、乃木坂46
            <br>その他多数
            </dt>
        </dl>
        <dl class="p-about-description__list">
            <dt class="p-about-description__term">【CM】</dt>
            <dt class="p-about-description__description">TOYOYA　HONDA　niko and ...　SOFTBANK　BOSS　ユニクロ
            <br>その他多数</dt>
        </dl>
    </div>
</div>
