    <div class="p-about-info">
        <dl class="p-about-info__list">
            <dt class="p-about-info__term">名称</dt>
            <dd class="p-about-info__description">有限会社グリフィス</dd>
        </dl>
        <dl class="p-about-info__list">
            <dt class="p-about-info__term">設立</dt>
            <dd class="p-about-info__description">平成6年1月26日</dd>
        </dl>
        <dl class="p-about-info__list">
            <dt class="p-about-info__term">所在地</dt>
            <dd>
                <a href="https://www.google.com/maps/place/%E3%82%B0%E3%83%AA%E3%83%95%E3%82%A3%E3%82%B9/@35.6496662,139.5273814,15z/data=!4m6!3m5!1s0x6018f017850a92a7:0xd83fd994dbc4846f!8m2!3d35.6496662!4d139.5273814!16s%2Fg%2F1thw_gq7?entry=tts&g_ep=EgoyMDI0MDgyOC4wKgBIAVAD" target="_blank" rel="noopener noreferrer" class="p-about-info__description">〒182-0025　東京都調布市多摩川1-11-3
                </a>
            </dd>
        </dl>
        <dl class="p-about-info__list">
            <dt class="p-about-info__term">事業内容</dt>
            <dd class="p-about-info__description">
                <p class="p-about-info__point">ＴＶ、ＣＭ、映画、ＰＶ等の撮影効果業務</p>
                <p class="p-about-info__point">・撮影用クレーン、ドリーのオペレーター</p>
                <p class="p-about-info__point">・撮影用雨降らし、雪降らし、霧、風などのの撮影効果</p>
                <p class="p-about-info__point">・イントレ移動車などの特機機材レンタル業務</p>
                <p class="p-about-info__point">・撮影用小物の製造販売</p>
            </dd>
        </dl>
        <dl class="p-about-info__list">
            <dt class="p-about-info__term">主要取引先<br>（50音順 敬称略）</dt>
            <dd class="p-about-info__description">                    
                <p class="p-about-info__margin">葵プロモーション ＮＨＫ 角川書店 共同テレビジョン</p>
                <p class="p-about-info__margin">ギークピクチュアズ 松竹　ＴＢＳテレビ ＴＹＯ テレビ朝日 テレビ東京</p>
                <p class="p-about-info__margin">電通クリエーティブＸ 東映 東宝 東北新社 日活 日本テレビ</p>
                <p class="p-about-info__margin">博報堂プロダク フジテレビジョン ロボット映像制作各社</p>
            </dd>
        </dl>
        <dl class="p-about-info__list">
            <dt class="p-about-info__term">代表取締役</dt>
            <dd class="p-about-info__description">上竹 寛一</dd>
        </dl>
        <dl class="p-about-info__list">
            <dt class="p-about-info__term">取締役</dt>
            <dd class="p-about-info__description">実原 康之</dd>
        </dl>
        <dl class="p-about-info__list">
            <dt class="p-about-info__term">従業員数</dt>
            <dd class="p-about-info__description">15名</dd>
        </dl>
        <div class="p-about-info__text">
            <a href="tel:042-486-1420" class="p-about-info__text-ja">連絡先	TEL　042-486-1420
            </a>
            <p class="p-about-info__text-ja">FAX　042-485-4552</p>
            <a href="mailto:g.info1994@gmail.com" class="p-about-info__text-ja">Mail　info@grifith1994.com</a>
            <p class="p-about-info__text-ja">(メールでのお問い合わせには時間が掛かる場合がありますので お急ぎの方、仕事のご依頼は電話またはFAXにてお願いします。 )
            </p>
        </div>
    </div>