<div class="p-about-company">
    <div id="points" class="p-about-company__title">募集要項
    </div>
    <div class="p-about-company__content">
        <dl class="p-about-company__list">
            <dt class="p-about-company__term">仕事内容</dt>
            <dd class="p-about-company__description">撮影用特殊機械操作等</dd>
        </dl>
        <dl class="p-about-company__list">
            <dt class="p-about-company__term">給与</dt>
            <dd class="p-about-company__description">￥200,000〜￥250,000（諸手当を含む）
                <br>但し、入社日より３ヶ月間は見習研修期間となります。</dd>
        </dl>
        <dl class="p-about-company__list">
            <dt class="p-about-company__term">勤務地</dt>
            <dd class="p-about-company__description">社内業務の場合は調布市の弊社
                <br>現場勤務の場合は都内スタジオ、ロケ地
                <br>また、地方にロケに行く事もあります。</dd>
        </dl>
        <dl class="p-about-company__list">
            <dt class="p-about-company__term">勤務時間</dt>
            <dd class="p-about-company__description">（仮）【固定時間制・標準労働時間制】
                <br>勤務時間：8:00〜17:00（休憩：1時間）
                <br>備考：
            </dd>
        </dl>
        <dl class="p-about-company__list">
            <dt class="p-about-company__term">休日</dt>
            <dd class="p-about-company__description">（仮）週休2日制（日曜・祝日）
                <br>・夏季、年末年始休暇
                <br>・年間休日105日
            </dd>
        </dl>
        <dl class="p-about-company__list">
            <dt class="p-about-company__term">応募条件</dt>
            <dd class="p-about-company__description">（仮）
            </dd>
        </dl>
        <dl class="p-about-company__list">
            <dt class="p-about-company__term">待遇</dt>
            <dd class="p-about-company__description">（仮）
            </dd>
        </dl>
        <dl class="p-about-company__list">
            <dt class="p-about-company__term">応募方法</dt>
            <dd class="p-about-company__description">随時面接しておりますので、下記連絡先までお電話ください。
                <br>また、ご質問等ございましたらお気軽に連絡してください。
                <br>
                <br>東京都調布市多摩川1-11-3
                <br>有限会社グリフィス　採用担当　上竹
                <br>TEL　042-486-1420
            </dd>
        </dl>
    </div>
</div>