<% project='.' ; ejsPath='.' %>


<div class="p-crane-item">
    <div class="p-crane-item__img">
        <img src="./assets/images/common/crane1.jpg" alt="クレーン" />
    </div>
    <div class="p-crane-item__content">
        <div class="p-crane-item__wrapper">
            <h3 class="p-crane-item__title">GF-8</h3>
            <!-- prettier-ignore -->
            <%- include(project + ejsPath + '/component/_c-tab' ,{text:'単体レンタル可', color:''}) %>
        </div>
        <ul>
            <li>aaaa</li>
            <li>bbbbb</li>
            <li>fffff</li>
            <li>hhhhh</li>
            <li>fffff</li>
        </ul>
    </div>
</div>
