<div class="p-container p-container--4">
    <div class="p-container__item">
        <img src="" alt="">
    </div>
    <div class="p-container__item">
        <img src="" alt="">
    </div>
    <div class="p-container__item">
        <img src="" alt="">
    </div>
    <div class="p-container__item">
        <img src="" alt="">
    </div>
</div>

<div class="p-container p-container--3">
    <div class="p-container__item">
        <img src="" alt="">
    </div>
    <div class="p-container__item">
        <img src="" alt="">
    </div>
    <div class="p-container__item">
        <img src="" alt="">
    </div>
</div>

<div class="p-container p-container--2">
    <div class="p-container__item">
        <img src="" alt="">
    </div>
    <div class="p-container__item">
        <img src="" alt="">
    </div>
</div>

<div class="p-container p-container--1">
    <div class="p-container__item">
        <img src="" alt="">
    </div>
</div>