<%
project='.' ; ejsPath='.'

let items = [
  {
    img: "./assets/images/common/crane1.jpg",
    alt: "GFカメラクレーンが青空の下、作業員2人の近くに設置されている様子",
    title: 'GF CRANE',
    tabtext: '要オペレーター',
    tabcolor: 'black',
    btnlink: 'crane01.html',
    color: ''
  },
  {
    img: "./assets/images/common/crane2.jpg",
    alt: "GFカメラクレーンが曇り空の下に、ビルと池に囲まれている場所に伸びている様子",
    title: 'GF CRANE',
    tabtext: '単体レンタル可',
    tabcolor: '',
    btnlink: 'crane01.html',
    color: ''
  },
  {
    img: "./assets/images/common/crane3.jpg",
    alt: "GFカメラクレーンが桜の咲いている場所に設置されている様子",
    title: 'GF CRANE',
    tabtext: '要オペレーター',
    tabcolor: 'black',
    btnlink: 'crane01.html',
    color: ''
  },
  {
    img: "./assets/images/common/crane1.jpg",
    alt: "GFカメラクレーンが青空の下、作業員2人の近くに設置されている様子",
    title: 'GF CRANE',
    tabtext: '要オペレーター',
    tabcolor: 'black',
    btnlink: 'crane01.html',
    color: ''
  },
  {
    img: "./assets/images/common/crane2.jpg",
    alt: "GFカメラクレーンが曇り空の下に、ビルと池に囲まれている場所に伸びている様子",
    title: 'GF CRANE',
    tabtext: '単体レンタル可',
    tabcolor: '',
    btnlink: 'crane01.html',
    color: ''
  },
  {
    img: "./assets/images/common/crane3.jpg",
    alt: "GFカメラクレーンが桜の咲いている場所に設置されている様子",
    title: 'GF CRANE',
    tabtext: '要オペレーター',
    tabcolor: 'black',
    btnlink: 'crane01.html',
    color: ''
  },
]
%>

<ul class="p-crane-items">
    <% items.forEach(function(item) { %>
        <li class="p-crane-items__item l-box fadeIn">
            <%- include(project + '/_p-crane-item', {
                img: item.img,
                alt: item.alt,
                title: item.title,
                tabtext: item.tabtext,
                tabcolor: item.tabcolor,
                btnlink: item.btnlink,
                color: item.color
            }) %>
        </li>
    <% }); %>
</ul>