<%
project='.' ; ejsPath='.'

let cards = [
    
    {img: '', alt: '', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'},
    {img: '', alt: '', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'},
    {img: '', alt: '', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'},

]
%>

<div class="p-container-item-3">
    <div class="p-container-item-3__margin">
        <% cards.forEach(function(card) { %>
            <%- include(project + '/_p-container-item', {
                img: card.img,
                alt: card.alt,
                text: card.text
            }) %>
        <% }); %>
    </div>
</div>