<div class="p-crane-detail">
    <div class="p-crane-detail__item">
        <%- include(project + '/_p-crane-item', {
            img: "",
            alt: "",
            title: 'GF CRANE',
            tabtext: '要オペレーター',
            tabcolor: 'white',
            btnlink: 'crane01.html',
            color: 'white'
        }) %>
    </div>
    <%- include(project + '/_p-container') %>
</div>