<ul class="p-container">
        <li class="p-container__item">
            <img src="<%- img %>" alt="<%- alt %>">
            <p class="p-container__text">
                <%- text %>
            </p>
        </li>
</ul>