<div class="p-container-item">
    <div class="p-container-item__img">
        <img src="<%- img %>" alt="<%- alt %>">
    </div>
    <% if (text !== '') { %>
        <p class="p-container-item__text">
            <%- text %>
        </p>
    <% } %>
</div>