<div class="p-equipment-item box fadeIn">
    <div class="p-equipment-item__img">
      <img src="<%- img %>" alt="<%- alt %>">
    </div>
    <p class="p-equipment-item__text"><%- text %></p>
</div>
