<% const string = text; %>
<% const arraySplit = string.split(''); %>

<div class="p-one-animation" aria-hidden="true">
    <% for(var i=0; i < string.length; i++) { %>
      <span class="p-one-animation_char" style="--char-index: <% i %><">
      <% if (arraySplit[i] === ' ') { %>
        <span class="p-one-animation_char-text">&nbsp;&thinsp;</span>
      <% } else { %>
        <span class="p-one-animation_char-text"><%- arraySplit[i] %></span>
      <% } %>
      </span>
    <% } %>
</div>