<div class="p-policy">
  <div class="p-policy__inner l-inner">
    <h2 class="p-policy__introduction l-box fadeIn">有限会社グリフィスでは、お客様のプライバシーの尊重、個人情報の保護に関する法令の厳守と共にお客様の個人情報の取扱いに関して重要性を認識し、以下の取り組みを行なっております。</h2>
    <dl class="p-policy__items">
      <div class="p-policy__item">
        <dt class="p-policy__term l-box fadeIn">個人情報の収集について</dt>
        <dd class="p-policy__description">
          <p class="p-policy__description-text l-box fadeIn">当社の製品・サービス等に関してお問い合わせ、資料データダウンロード、メールマガジンへの会員登録など、お客様の情報提供が必要なサービスをご利用いただく際に個人情報の提供をお願いしています。</p>
        </dd>
      </div>
      <div class="p-policy__item">
        <dt class="p-policy__term l-box fadeIn">個人情報の使用目的</dt>
        <dd class="p-policy__description">
          <p class="p-policy__description-text l-box fadeIn">お客様からお預かりした個人情報は、お問い合わせ対応及び、当社の営業活動のために利用いたします。なお、正当な目的以外で、お客様の個人情報を無断で利用することはございません。</p>
        </dd>
      </div>
      <div class="p-policy__item">
        <dt class="p-policy__term l-box fadeIn">個人情報の訂正・削除</dt>
        <dd class="p-policy__description">
          <p class="p-policy__description-text l-box fadeIn">当社で管理しているお客様の情報に誤りや変更があった場合の確認や削除につきましては</p>
        </dd>
      </div>
      <div class="p-policy__item">
        <dt class="p-policy__term l-box fadeIn">第三者提供について</dt>
        <dd class="p-policy__description">
          <p class="p-policy__description-text l-box fadeIn">当社では、お客様からの許可無く、第三者に個人情報を開示することはございません。ただし、法律の定めにより、国や地方自治体、裁判所、警察その他の法律や条令などで認められた権限を持つ機関より要請があった場合には、これに応じて本人の許可なく情報を開示する場合がございます。</p>
        </dd>
      </div>
      <div class="p-policy__item">
        <dt class="p-policy__term l-box fadeIn">アクセスログの取り扱い</dt>
        <dd class="p-policy__description">
          <p class="p-policy__description-text l-box fadeIn">当社では、当ウェブサイトに訪れたお客様のアクセスログファイルを活用して、サイトの管理、アクセス状況の分析、営業活動等に使用することがあります。</p>
        </dd>
      </div>
      <div class="p-policy__item">
        <dt class="p-policy__term l-box fadeIn">個人情報開示についての免責事項</dt>
        <dd class="p-policy__description">
          <p class="p-policy__description-text l-box fadeIn">以下の場合を除き、個人情報を開示することはありません。</p>
          <ol class="p-policy__description-numbers">
            <li class="p-policy__description-number l-box fadeIn">お客様の同意を得た上で個人情報を開示または利用する場合。</li>
            <li class="p-policy__description-number l-box fadeIn">裁判所の発する令状その他裁判所の決定、命令または法令に基づいた開示要請があった場合。</li>
            <li class="p-policy__description-number l-box fadeIn">検察・警察・監督官庁からの適法・適式な手順により情報の照会があった場合。</li>
          </ol>
        </dd>
      </div>
      <div class="p-policy__item">
        <dt class="p-policy__term l-box fadeIn">プライバシーポリシーの適用範囲</dt>
        <dd class="p-policy__description">
          <p class="p-policy__description-text l-box fadeIn">このプライバシーポリシーは、当ウェブサイトによって収集された個人情報を当社が利用する際に適用されるものであります。</p>
        </dd>
      </div>
      <div class="p-policy__item">
        <dt class="p-policy__term l-box fadeIn">プライバシーポリシーの変更</dt>
        <dd class="p-policy__description">
          <p class="p-policy__description-text l-box fadeIn">当社は、法令等の定めがある場合を除き、プライバシーポリシーを随時変更することができるものとします。</p>
        </dd>
      </div>
      <div class="p-policy__item">
        <dt class="p-policy__term l-box fadeIn">個人情報に関する、苦情やお問い合わせ先。</dt>
        <dd class="p-policy__description">
          <p class="p-policy__description-text l-box fadeIn">〒182-0025　東京都調布市多摩川1-11-3</p>
          <p class="p-policy__description-text l-box fadeIn">TEL　042-486-1420</p>
          <p class="p-policy__description-text l-box fadeIn">FAX　042-485-4552</p>
        </dd>
      </div>
    </dl>
  </div>
</div>