<% var navTitle=[
<!-- prettier-ignore -->
{ en: 'TOP' , link: '/' },
<!-- prettier-ignore -->
{ en: '機材一覧' , link: 'equipment.html' },
<!-- prettier-ignore -->
{ en: '会社概要' , link: 'about.html' },
<!-- prettier-ignore -->
{ en: '採用情報' , link: 'about.html' },
<!-- prettier-ignore -->
{ en: 'トピックス' , link: 'topics.html' }
]
%>

<ul class="p-pc-nav">
  <% navTitle.forEach(function(title) { %>
    <li class="p-pc-nav__item">
      <a href="<%- title.link %>">
        <p class="p-pc-nav__title"><%- title.en %></p>
      </a>
    </li>
  <% }); %>
</ul>
