<% var navTitle=[
<!-- prettier-ignore -->
{ en: 'TOP' , link: 'index' },
<!-- prettier-ignore -->
{ en: '機材一覧' , link: 'equipment' },
<!-- prettier-ignore -->
{ en: '会社概要' , link: 'about' },
<!-- prettier-ignore -->
{ en: '採用情報' , link: 'about' },
<!-- prettier-ignore -->
{ en: 'トピックス' , link: 'topics' }
]
%>

<ul class="p-pc-nav p-pc-nav__items">
  <% navTitle.forEach(function(title) { %>
    <li class="p-pc-nav__item">
      <a href="<%- title.link %>.html">
        <p class="p-pc-nav__title"><%- title.en %></p>
      </a>
    </li>
  <% }); %>
</ul>
