<%
project='.' ; ejsPath='.'
    
let cards = [
    {
        img: './assets/images/common/topics1.jpg',
        alt: '有限会社グリフィスロゴ画像',
        date: '2024-08-05',
        title: '年末年始休暇のお知らせ',
        link: 'topics01.html'
    },

    {
        img: './assets/images/common/topics1.jpg',
        alt: '有限会社グリフィスロゴ画像',
        date: '2024-08-05',
        title: '年末年始休暇のお知らせ',
        link: 'topics01.html'
    },

    {
        img: './assets/images/common/topics1.jpg',
        alt: '有限会社グリフィスロゴ画像',
        date: '2024-08-05',
        title: '年末年始休暇のお知らせ',
        link: 'topics01.html'
    },

    {
        img: './assets/images/common/topics1.jpg',
        alt: '有限会社グリフィスロゴ画像',
        date: '2024-08-05',
        title: '年末年始休暇のお知らせ',
        link: 'topics01.html'
    },

    {
        img: './assets/images/common/topics1.jpg',
        alt: '有限会社グリフィスロゴ画像',
        date: '2024-08-05',
        title: '年末年始休暇のお知らせ',
        link: 'topics01.html'
    },

    {
        img: './assets/images/common/topics1.jpg',
        alt: '有限会社グリフィスロゴ画像',
        date: '2024-08-05',
        title: '年末年始休暇のお知らせ',
        link: 'topics01.html'
    },

    {
        img: './assets/images/common/topics1.jpg',
        alt: '有限会社グリフィスロゴ画像',
        date: '2024-08-05',
        title: '年末年始休暇のお知らせ',
        link: 'topics01.html'
    },

    {
        img: './assets/images/common/topics1.jpg',
        alt: '有限会社グリフィスロゴ画像',
        date: '2024-08-05',
        title: '年末年始休暇のお知らせ',
        link: 'topics01.html'
    },

    {
        img: './assets/images/common/topics1.jpg',
        alt: '有限会社グリフィスロゴ画像',
        date: '2024-08-05',
        title: '年末年始休暇のお知らせ',
        link: 'topics01.html'
    },
]
%>
    

<div class="p-sub-topics">
    <div class="p-sub-topics__inner l-inner">
        <h2 class="p-sub-topics__heading l-box fadeIn">
            TOPICS
        </h2>
        <div class="p-sub-topics__tab l-box fadeIn">
            <a href="#" class="p-sub-topics__text is-active">ALL</a>
            <a href="#" class="p-sub-topics__text">NEWS</a>
            <a href="#" class="p-sub-topics__text">BLOG</a>
        </div>
        <ul class="p-sub-topics__cards">
            <li class="p-sub-topics__card">
                <% cards.forEach(function(card) { %>
                    <%- include(project + '/_p-topics-card', {
                        img: card.img,
                        alt: card.alt,
                        date: card.date,
                        title: card.title,
                        link: card.link
                    }) %>
                <% }); %>
            </li>
        </ul>
        <div class="p-sub-topics__pagenation l-box fadeIn">
            <%- include(project + '/_wp-pagenavi' ) %>
        </div>
    </div>
</div>