<% var navTitle=[
<!-- prettier-ignore -->
{ en: 'TOP' , link: 'index' },
<!-- prettier-ignore -->
{ en: '機材一覧' , link: 'equipment' },
<!-- prettier-ignore -->
{ en: '会社概要' , link: 'about' },
<!-- prettier-ignore -->
{ en: '採用情報' , link: 'about' },
<!-- prettier-ignore -->
{ en: 'トピックス' , link: 'topics' }
]
%>


<nav class="p-sp-nav js-sp-nav">
  <div class="p-sp-nav__head">
  </div>
  <ul class="p-sp-nav__items">
    <% navTitle.forEach(function(title) { %>
      <li class="p-sp-nav__item">
        <a href="<%- title.link %>.html">
          <p class="p-sp-nav__title"><%- title.en %></p>
        </a>
      </li>
    <% }); %>
  </ul>
  <div class="l-send-btn">
    <%- include(ejsPath + './component/_c-send-btn', { 
      maillink: 'mailto:g.info1994@gmail.com', 
      phonelink: '042-486-1420',
      img: './assets/images/common/mail-icon.svg',
      alt: 'メールアイコン',
    }) %>
  </div>
</nav>