
<ul class="p-sidebar-nav side_equipment_cat">
    <li class="cat-item current-cat-parent"><a href="#">特殊機材</a> <span>35</span>
      <ul class="children">
        <li class="cat-item current-cat"><a href="#">クレーン</a> <span>5</span></li>
        <li class="cat-item"><a href="#">リモートヘッド</a> <span>5</span></li>
        <li class="cat-item"><a href="#">ドリー</a> <span>5</span></li>
        <li class="cat-item"><a href="#">ジフ</a> <span>5</span></li>
        <li class="cat-item"><a href="#">ジンバル</a> <span>5</span></li>
        <li class="cat-item"><a href="#">電動自転車</a> <span>5</span></li>
        <li class="cat-item"><a href="#">カーマウント</a> <span>5</span></li>
      </ul>
    </li>
    <li class="cat-item"><a href="#">特殊効果</a> <span>5</span></li>
    <li class="cat-item"><a href="#">レンタル機材</a> <span>10</span>
      <ul class="children">
        <li class="cat-item"><a href="#">中カテゴリー</a> <span>5</span></li>
        <li class="cat-item"><a href="#">中カテゴリー</a> <span>5</span></li>
      </ul>
    </li>
</ul>