<div class="p-sub-crane">
    <div class="p-sub-crane__inner l-inner">
        <aside class="p-sub-crane__sidebar l-box fadeIn">
            <% if (type === 'small') { %>
                <%- include(ejsPath + './project/_p-sidebar-nav' , {
                    color: 'white',
                }) %>         
            <% } else { %>
                <%- include(ejsPath + './project/_p-sidebar-nav' , {
                    color: '',
                }) %>
            <% } %>
        </aside>
        <div class="p-sub-crane__content">
            <% if (type === 'small') { %>
                <%- include(ejsPath + './project/_p-crane-detail' ) %> 
            <% } else { %>
                <%- include(ejsPath + './project/_p-crane-items' ) %>
            <% } %>
        </div>
    </div>
</div>