



<div class="p-top-recruit">
    <div class="p-top-recruit__inner l-inner">
        <div class="p-top-recruit__heading">
            <%- include(ejsPath + './component/_c-section-heading', { 
              page: "", 
              heading_eng:'RECRUIT', 
              heading_ja:'採用情報',
              anima:''
            }) %>
        </div>
        <div class="p-top-recruit__content">
            <div class="p-top-recruit__left">
                <p>採用情報</p>
                <h2>RECRUIT</h2>
                <div class="p-top-recruit__btn">
                <%- include(project + './component/_c-btn2', { link: '#', text: '募集要項へ' }) %>
                </div>
            </div>
            <div class="p-top-recruit__img">
                <img src="./assets/images/common/top-recruit.jpg" alt="カメラセッティング">
            </div>
            
        </div>
    </div>
</div>