<div class="p-top-mv">  <!-- flex -->
    <div class="p-top-mv__inner">
        <div class="p-top-mv__wrapper">
            <!-- <div class="p-top-mv__left"> -->
                <!-- </div> -->
            <div class="p-top-mv__title">GRIFITH
                <!-- <span class="u-mobile">GITH</span> -->
            </div>
        </div>
        <div class="p-top-mv__content">
            <div class="p-top-mv__left-img">
                <picture>
                    <source srcset="./assets/images/common/top-fv1_sp.jpg" type="image/webp" media="(max-width:390px)" />
                    <img src="./assets/images/common/top-fv1.jpg" alt="" />
                </picture>
            </div>
            <div class="p-top-mv__right">
                <div class="p-top-mv__pctitle">GRI
                    <!-- <span class="u-mobile">GITH</span> -->
                </div>
                <div class="p-top-mv__right-img">
                    <img src="./assets/images/common/top-fv2.jpg" alt="">
                </div>
            </div>
        </div>
        <p class="p-top-mv__maintext">THE  EQUIPMENT YOU NEED,<br>
            WHEN YOU NEED IT.</p>
        <p class="p-top-mv__subtext">必要な機材、必要なときに。</p>
        <div class="p-top-mv__blog">
            <div class="p-top-mv__news">
                NEWS
            </div>
            <div class="p-top-mv__date">
                2024.06.24
            </div>
            <div class="p-top-mv__text">
                年末年始休暇のご連絡
            </div>
        </div>


        
        
        
        
    </div>
</div>