<div class="p-top-mv">  <!-- flex -->
    <div class="p-top-mv__inner l-inner">
        
        <div class="p-top-mv__content">
            <div class="p-top-mv__pctitle">
                <span>GRIFITH</span>
                <span>GRIFITH</span>
                <span>GRIFITH</span>
                <!-- <span class="u-mobile">GITH</span> -->
            </div>
            <div class="p-top-mv__left-img">
                <img src="./assets/images/common/top-fv1.jpg" alt="" />
            </div>
        </div>
        <div class="p-top-mv__right">
            <div class="p-top-mv__right-img">
                <img src="./assets/images/common/top-fv2.jpg" alt="">
            </div>
        </div>
        <div class="p-top-mv__detail">
            <!-- <p class="p-top-mv__maintext">THE  EQUIPMENT YOU NEED,<br>
                WHEN YOU NEED IT.</p> -->
            <div class="text1" aria-hidden="true">
                <span class="char" style="--char-index: 0">
                  <span class="char-text">T</span>
                </span>
          
                <span class="char" style="--char-index: 1">
                  <span class="char-text">H</span>
                </span>
          
                <span class="char" style="--char-index: 2">
                  <span class="char-text">E</span>
                </span>
                
                <span class="char" style="--char-index: 3">
                  <span class="char-text">&ensp;</span>
                </span>
          
                <span class="char" style="--char-index: 4">
                  <span class="char-text">E</span>
                </span>
          
                <span class="char" style="--char-index: 5">
                  <span class="char-text">Q</span>
                </span>
          
                <span class="char" style="--char-index: 6">
                  <span class="char-text">U</span>
                </span>
          
                <span class="char" style="--char-index: 7">
                  <span class="char-text">I</span>
                </span>
                
                <span class="char" style="--char-index: 8">
                    <span class="char-text">P</span>
                </span>
                
                <span class="char" style="--char-index: 9">
                    <span class="char-text">M</span>
                </span>
                
                <span class="char" style="--char-index: 10">
                    <span class="char-text">E</span>
                </span>
                
                <span class="char" style="--char-index: 11">
                    <span class="char-text">N</span>
                </span>
                
                <span class="char" style="--char-index: 12">
                    <span class="char-text">T </span>
                </span>

                <span class="char" style="--char-index: 13">
                  <span class="char-text">&nbsp</span>
                </span>
                
                <span class="char" style="--char-index: 14">
                  <span class="char-text">Y</span>
                </span>
          
                <span class="char" style="--char-index: 15">
                  <span class="char-text">O</span>
                </span>
          
                <span class="char" style="--char-index: 16">
                  <span class="char-text">U </span>
                </span>

                <span class="char" style="--char-index: 17">
                    <span class="char-text">&nbsp</span>
                  </span>

                <span class="char" style="--char-index: 18">
                  <span class="char-text">N</span>
                </span>

                <span class="char" style="--char-index: 19">
                  <span class="char-text">E</span>
                </span>

                <span class="char" style="--char-index: 20">
                  <span class="char-text">E</span>
                </span>

                <span class="char" style="--char-index: 21">
                  <span class="char-text">D</span>
                </span>

                <span class="char" style="--char-index: 22">
                  <span class="char-text">,</span>
                </span>
            </div>
            <div class="text2" aria-hidden="true">
                <span class="char" style="--char-index: 0">
                  <span class="char-text">W</span>
                </span>
          
                <span class="char" style="--char-index: 1">
                  <span class="char-text">H</span>
                </span>
          
                <span class="char" style="--char-index: 2">
                  <span class="char-text">E</span>
                </span>

                <span class="char" style="--char-index: 3">
                  <span class="char-text">N</span>
                </span>
                
                <span class="char" style="--char-index: 4">
                  <span class="char-text">&nbsp</span>
                </span>
                
                <span class="char" style="--char-index: 5">
                  <span class="char-text">Y</span>
                </span>
          
                <span class="char" style="--char-index: 6">
                  <span class="char-text">O</span>
                </span>
          
                <span class="char" style="--char-index: 7">
                  <span class="char-text">U </span>
                </span>

                <span class="char" style="--char-index: 8">
                    <span class="char-text">&nbsp</span>
                </span>

                <span class="char" style="--char-index: 9">
                  <span class="char-text">N</span>
                </span>

                <span class="char" style="--char-index: 10">
                  <span class="char-text">E</span>
                </span>

                <span class="char" style="--char-index: 11">
                  <span class="char-text">E</span>
                </span>

                <span class="char" style="--char-index: 12">
                  <span class="char-text">D</span>
                </span>

                <span class="char" style="--char-index: 13">
                    <span class="char-text">&nbsp</span>
                </span>

                <span class="char" style="--char-index: 14">
                  <span class="char-text">I</span>
                </span>

                <span class="char" style="--char-index: 15">
                  <span class="char-text">T</span>
                </span>

                <span class="char" style="--char-index: 16">
                  <span class="char-text">.</span>
                </span>
            </div>
              <p class="p-top-mv__subtext">必要な機材、必要なときに。</p>
        </div>
        <div class="p-top-mv__blog">
            <%- include(project + '/_p-news' ) %>
        </div>
    </div>
</div>