


<div class="p-top-recruit">
    <div class="p-top-recruit__inner l-inner">
        
        <div class="p-top-recruit__content">
            <div class="p-top-recruit__heading">
                <h2 class="p-top-recruit__heading-ja">採用情報</h2>
                <p class="p-top-recruit__heading-eng">RECRUIT</p>
            </div>
            <div class="p-top-recruit__btn">
                <%- include(ejsPath + './component/_c-btn2', { link: '#', text: '機材一覧へ' }) %>
            </div>
        </div>
        <!-- <div class="p-top-recruit__img">
            <img src="./assets/images/common/top-recruit.jpg" alt="">
        </div> -->
    </div>
</div>
