

<!-- prettier-ignore -->
<a href="<%= link %>" class="c-btn3">
  <span class="c-btn3__text">
    <%= text %>
  </span>
  <span class="c-btn3__iconbg">
    <i class="c-btn3__icon"></i>
  </span>
</a>