

<!-- prettier-ignore -->
<a href="<%= link %>" class="c-btn2">
  <span class="c-btn2__text">
    <%= text %>
  </span>
  <span class="c-btn2__iconbg">
    <i class="c-btn2__icon"></i>
  </span>
</a>