<div class="c-send-btn">
    <a href="tel:<%= phonelink %>" class="c-send-btn__phone">
        <div class="c-send-btn__telicon">
            <%= phonelink %>
        </div>
    </a>
    <a href="<%= maillink %>" class="c-send-btn__mail">
    </a>
</div>