<!-- prettier-ignore -->
<% const validColor = ['yellow']; %>
<% const colorClass = validColor.includes(color) ? ` c-send-btn--${color}` : ''; %>



<div class="c-send-btn<%- colorClass %>">
    <a href="tel:<%= phonelink %>" class="c-send-btn__phone">
        <div class="c-send-btn__telicon">
            <%= phonelink %>
        </div>
    </a>
    <a href="<%= maillink %>" class="c-send-btn__mail">
    </a>
</div>